$rootFontSize: 14px;

//Colors
$primaryColor: #f65252;
$black: #121212;
$gray: #868686;
$lightGray: #f9f9f9;
$backgroundColor: #f0f0f6;

//Sizes
$headerHeight: 50px;
$btnHeight: 2.29rem;
$commonRadius: 15px;

//Font Weight
$regular: 400;
$semibold: 600;
$bold: 700;
